.block_main__form form p, .block_first__form form p, .block_form__l-side form p {
  	margin: 0;
  	display: flex;
}
.block_services__r-side form p {
	margin: 0; 
}
b, strong {
	font-weight: bold;
}
.block_main__form form .wpcf7-form-control-wrap, .block_first__form form .wpcf7-form-control-wrap, .block_form__l-side form .wpcf7-form-control-wrap {
	margin-right: 20px;
    display: block;
}
.block_form__l-side form .wpcf7-form-control-wrap {
 	max-width: 237px;
  	width: 100%;
}
.block_form__l-side form .wpcf7-form-control-wrap input[type="tel"] {
	width: 100%;
}
.block_tabs__text b {
 font-weight: bold; 
}
.r-tabs-nav {
  display: flex;
}
.r-tabs-tab {
  width: 100%;
  border-bottom: 2px solid #C7D9F8;
  border-radius: 5px 5px 0px 0px;
}
.r-tabs-tab a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  padding: 24px 16px;
  color: #0A2756;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease-out;
  display: block;
}
.r-tabs-tab.r-tabs-state-active, .r-tabs-tab:hover {
  border-bottom: 2px solid #397BE7;
}
.r-tabs-tab.r-tabs-state-active a, .r-tabs-tab:hover a {
  color: #397BE7;
  background: #E3ECFC;
}
.r-tabs .block_tabs__content.r-tabs-panel {
	padding: 0;
  	padding-top: 60px;
}
.r-tabs .block_tabs__content.r-tabs-panel.r-tabs-state-active {
	display: flex !important;
}
.r-tabs .r-tabs-accordion-title:not(:last-child) {
  margin-bottom: 10px;
}
.r-tabs .r-tabs-accordion-title a {
  background: #FFFFFF;
  border: 1px solid #759CC4;
  border-radius: 5px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: block;
  text-decoration: none;
  line-height: 140%;
  color: #0A2756;
  padding: 18px 26px;
  cursor: pointer;
  padding-right: 55px;
}
.r-tabs .r-tabs-accordion-title.r-tabs-state-active a {
	color: #1D68E4;
    background: #E3ECFC;
    border: 1px solid #759CC4;
}
.r-tabs .r-tabs-accordion-title a:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 26px;
  margin-top: -12px;
  top: 50%;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M16.19 22H7.81C4.17 22 2 19.83 2 16.19V7.82C2 4.17 4.17 2 7.81 2H16.18C19.82 2 21.99 4.17 21.99 7.81V16.19C22 19.83 19.83 22 16.19 22Z' fill='%231D68E4'/%3E%3Cpath d='M15.5299 9.79C15.3399 9.79 15.1499 9.86 14.9999 10.01L11.9999 13.01L8.99991 10.01C8.70991 9.72 8.22991 9.72 7.93991 10.01C7.64991 10.3 7.64991 10.78 7.93991 11.07L11.4699 14.6C11.7599 14.89 12.2399 14.89 12.5299 14.6L16.0599 11.07C16.3499 10.78 16.3499 10.3 16.0599 10.01C15.9099 9.86 15.7199 9.79 15.5299 9.79Z' fill='%231D68E4'/%3E%3C/svg%3E%0A") 50% no-repeat;
}
.r-tabs .r-tabs-accordion-title.r-tabs-state-active a:before {
	transform: rotate(180deg);
}
.block_reviews__img {
	overflow: hidden;
}
.block_reviews__img img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.block_map__item {
	display: flex;
  	height: 600px;
}
.block_map__l-side {
	flex: 0 0 433px;
  	padding: 40px 30px;
}
.block_map__l-side .menu {
  	overflow: auto;
    height: calc(100% - 60px);
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: -15px;
    padding-right: 10px;
}
.block_map__l-side .menu a {
	text-decoration: none;
  display: block;
}
.block_map__l-side .menu > li > div {
	font-size: 0;
}
.block_map__l-side .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.block_map__l-side .submenu li:not(:last-child) {
	margin-bottom: 20px;
}
.block_map__l-side .submenu li {
    display: flex;
    flex-direction: column;
	background: #FFFFFF;
    border: 1px solid #E3ECFC;
    border-radius: 5px;
  	padding: 30px;
}
.block_map__l-side .submenu li .link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #0A2756;
  padding-left: 34px;
  position: relative;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}
.block_map__l-side .submenu li .link:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 12.3108C12.5795 12.3108 13.86 11.0304 13.86 9.45082C13.86 7.87129 12.5795 6.59082 11 6.59082C9.42048 6.59082 8.14001 7.87129 8.14001 9.45082C8.14001 11.0304 9.42048 12.3108 11 12.3108Z' stroke='%231D68E4' stroke-width='1.5'/%3E%3Cpath d='M3.31835 7.78242C5.12418 -0.155913 16.885 -0.146746 18.6817 7.79159C19.7359 12.4483 16.8392 16.3899 14.3 18.8283C12.4575 20.6066 9.54252 20.6066 7.69085 18.8283C5.16085 16.3899 2.26418 12.4391 3.31835 7.78242Z' stroke='%231D68E4' stroke-width='1.5'/%3E%3C/svg%3E%0A") 50% no-repeat;
}
.block_map__l-side .submenu li .tel {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #0A2756;
  padding-left: 34px;
  position: relative;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}
.block_map__l-side .submenu li .tel:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1392 16.8024C20.1392 17.1324 20.0659 17.4716 19.91 17.8016C19.7542 18.1316 19.5525 18.4433 19.2867 18.7366C18.8375 19.2316 18.3425 19.5891 17.7834 19.8183C17.2334 20.0474 16.6375 20.1666 15.9959 20.1666C15.0609 20.1666 14.0617 19.9466 13.0075 19.4974C11.9534 19.0483 10.8992 18.4433 9.85421 17.6824C8.80004 16.9124 7.80087 16.0599 6.84754 15.1158C5.90337 14.1624 5.05087 13.1633 4.29004 12.1183C3.53837 11.0733 2.93337 10.0283 2.49337 8.99242C2.05337 7.94742 1.83337 6.94825 1.83337 5.99492C1.83337 5.37159 1.94337 4.77575 2.16337 4.22575C2.38337 3.66659 2.73171 3.15325 3.21754 2.69492C3.80421 2.11742 4.44587 1.83325 5.12421 1.83325C5.38087 1.83325 5.63754 1.88825 5.86671 1.99825C6.10504 2.10825 6.31587 2.27325 6.48087 2.51159L8.60754 5.50909C8.77254 5.73825 8.89171 5.94909 8.97421 6.15075C9.05671 6.34325 9.10254 6.53575 9.10254 6.70992C9.10254 6.92992 9.03837 7.14992 8.91004 7.36075C8.79087 7.57158 8.61671 7.79158 8.39671 8.01158L7.70004 8.73575C7.59921 8.83658 7.55337 8.95575 7.55337 9.10242C7.55337 9.17575 7.56254 9.23992 7.58087 9.31325C7.60837 9.38658 7.63587 9.44158 7.65421 9.49658C7.81921 9.79908 8.10337 10.1933 8.50671 10.6699C8.91921 11.1466 9.35921 11.6324 9.83587 12.1183C10.3309 12.6041 10.8075 13.0533 11.2934 13.4658C11.77 13.8691 12.1642 14.1441 12.4759 14.3091C12.5217 14.3274 12.5767 14.3549 12.6409 14.3824C12.7142 14.4099 12.7875 14.4191 12.87 14.4191C13.0259 14.4191 13.145 14.3641 13.2459 14.2633L13.9425 13.5758C14.1717 13.3466 14.3917 13.1724 14.6025 13.0624C14.8134 12.9341 15.0242 12.8699 15.2534 12.8699C15.4275 12.8699 15.6109 12.9066 15.8125 12.9891C16.0142 13.0716 16.225 13.1908 16.4542 13.3466L19.4884 15.5008C19.7267 15.6658 19.8917 15.8583 19.9925 16.0874C20.0842 16.3166 20.1392 16.5458 20.1392 16.8024Z' stroke='%231D68E4' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M16.9583 8.24984C16.9583 7.69984 16.5275 6.8565 15.8858 6.169C15.2992 5.5365 14.52 5.0415 13.75 5.0415' stroke='%231D68E4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.1667 8.24992C20.1667 4.70242 17.2975 1.83325 13.75 1.83325' stroke='%231D68E4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
}
.block_map__l-side .submenu li .work {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #0A2756;
  padding-left: 34px;
  position: relative;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}
.block_map__l-side .submenu li .work:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1667 10.9999C20.1667 16.0599 16.06 20.1666 11 20.1666C5.94004 20.1666 1.83337 16.0599 1.83337 10.9999C1.83337 5.93992 5.94004 1.83325 11 1.83325C16.06 1.83325 20.1667 5.93992 20.1667 10.9999Z' stroke='%231D68E4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.4009 13.9151L11.5592 12.2193C11.0642 11.9259 10.6609 11.2201 10.6609 10.6426V6.88428' stroke='%231D68E4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
}
.block_map__l-side .submenu li .block__imgs {
	display: flex;
  margin-left: -5px;
  margin-right: -5px;
}
.block_map__l-side .submenu li .block__imgs img {
	width: calc(33.3% - 10px);
    margin-left: 5px;
    margin-right: 5px;
  	border-radius: 5px;
	height: 73px;
	object-fit: cover;
}
.block_map__r-side {
	width: 100%;
}
.block_map__r-side #map {
	width: 100%;
  	height: 600px;
}
.block_map__buttons {
  background: #FFFFFF;
  border: 1px solid #759CC4;
  border-radius: 5px;
  padding-top: 0px;
  position: relative;
  margin-bottom: 20px;
}
.block_map__fake {
  position: relative;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  color: #0A2756;
  border-radius: 5px;
  padding: 16px 26px;
  cursor: pointer;
  padding-right: 55px;
}
.block_map__fake:before {
	position: absolute;
  	content: '';
  	top: 50%;
  	right: 28px;
  	background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M16.19 2.5H7.81C4.17 2.5 2 4.67 2 8.31V16.68C2 20.33 4.17 22.5 7.81 22.5H16.18C19.82 22.5 21.99 20.33 21.99 16.69V8.31C22 4.67 19.83 2.5 16.19 2.5Z' fill='%231D68E4'/%3E%3Cpath d='M11.9999 15.41C11.8099 15.41 11.6199 15.34 11.4699 15.19L7.93991 11.66C7.64991 11.37 7.64991 10.89 7.93991 10.6C8.22991 10.31 8.70991 10.31 8.99991 10.6L11.9999 13.6L14.9999 10.6C15.2899 10.31 15.7699 10.31 16.0599 10.6C16.3499 10.89 16.3499 11.37 16.0599 11.66L12.5299 15.19C12.3799 15.34 12.1899 15.41 11.9999 15.41Z' fill='%231D68E4'/%3E%3C/svg%3E%0A") 50% no-repeat;
  width: 24px;
  height: 24px;
  margin-top: -12px;
}
.block_map__fake.isActive {
	color: #1D68E4;
  background: #E3ECFC;
}
.block_map__fake.isActive:before {
	transform: rotate(180deg);
}
.block_map__more {
    position: absolute;
    background: #fff;
  	z-index: 2;
    width: calc(100% + 2px);
    left: -1px;
    right: -1px;
    border: 1px solid #759CC4;
    border-top: 0;
    border-radius: 0px 0px 5px 5px;
  display: none;
}
.block_map__more.isActive {
	display: block;
}
.block_map__button:nth-child(1) {
	margin-top: 4px;
  	border-top: 1px solid #E3ECFC;
}
.block_map__button {
	padding: 10px 26px;
    font-style: normal;
  	cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #0A2756;
}
#saint_map {
	display: none;
}
.contacts .block_map__item {
	background: #fff
}
.block_main__h1 {
	width: max-content;
	position: relative;
}
.block_h1_span {
	content: 'в 5 офисах';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	text-decoration: none;
	color: #397BE7;
	padding: 10px 0px;
	border-bottom: 1px dashed #397BE7;
	margin-left: 30px;
}
.block_services__block {
	text-decoration: none;
	display: block;
}
.header, .footer {
	padding-left: 0;
	padding-right: 0;
}
.mobs_block {
	display: none;
}
.times_block {
	background: url('bg1.png') 0% 100% no-repeat, url('bg2.png') 100% 100% no-repeat, linear-gradient(171.09deg, #1D68E4 -10.48%, #9747FF 77.8%), #1D68E4;
	border: 6.46px solid #0A2756;
	border-radius: 20px;
	max-width: 420px;
	width: 100%;
	padding: 30px;
	padding-bottom: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}
.times_block__logo {
	margin-bottom: 30px;
	width: 90px;
}
.times_block__text {
	font-style: normal;
	font-weight: 600;
	font-size: 29.925px;
	line-height: 110%;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 30px;
	max-width: 230px;
	width: 100%;
}
.times_block__button {
	font-style: normal;
	font-weight: 600;
	font-size: 16.4246px;
	line-height: 140%;
	color: #1D68E4;
	padding: 15px 33px;
	cursor: pointer;
	text-decoration :none;
	display: block;
	background: #FFFFFF;
	transition: all .3s ease-out;
	border-radius: 4.56239px;
	position: relative;
}
.times_block__button:before {
	content: '';
	background: url(hend.png) 50% / 100% no-repeat;
	width: 270px;
	height: 290px;
	top: 0px;
	pointer-events: none;
	left: -171px;
	position: absolute;
}
.times_block__button:hover {
	background: #E3ECFC;
	color: #1D68E4;
}
.header__soc a, .footer__soc a, .block_steps__link, .block_services__btn a, .block_services__soc a {
	transition: all .3s ease-out;
}
.header__soc a:hover, .footer__soc a:hover, .block_services__soc a:hover {
	opacity: .7;
}
.footer__btn a:hover {
	background: #397be7;
}
.block_steps__link:hover, .block_services__btn a:hover {
	border-color: transparent;
}
.header__bottom > ul > li {
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
	padding: 0 10px;
}
.header__bottom > ul > li:not(:last-child):after {
	content: '';
	height: 100%;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	width: 1px;
	background: #E3ECFC;
}
.header__bottom > ul > li > a {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}
.header__bottom ul li.menu-item-has-children > a {
	position: relative;
	padding-right: 34px;
}
.header__bottom ul li.menu-item-has-children > a:before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	top: 50%;
	right: 0;
	background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2Z' fill='%231D68E4'/%3E%3Cpath d='M12 14.9098C11.81 14.9098 11.62 14.8398 11.47 14.6898L7.94003 11.1598C7.65003 10.8698 7.65003 10.3898 7.94003 10.0998C8.23003 9.80982 8.71003 9.80982 9.00003 10.0998L12 13.0998L15 10.0998C15.29 9.80982 15.77 9.80982 16.06 10.0998C16.35 10.3898 16.35 10.8698 16.06 11.1598L12.53 14.6898C12.38 14.8398 12.19 14.9098 12 14.9098Z' fill='%231D68E4'/%3E%3C/svg%3E%0A") 50% no-repeat;
	margin-top: -17px;
}
.header__bottom ul li.menu-item-has-children > ul ul {
	display: none !important;
}
.header__bottom ul li.menu-item-has-children > ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 260px;
	box-shadow: 0px 0px 7px 0px #c4c4c4;
	z-index: 10;
	padding: 10px 25px;
	flex-direction: column;
	align-items: flex-start;
	transition: all .3s ease-out;
	background: #fff;
	opacity: 0;
	visibility: hidden;
}
.header__bottom ul li.menu-item-has-children:hover > a:before {
	transform: rotate(180deg);
}
.header__bottom ul li.menu-item-has-children:hover > ul {
	opacity: 1;
	visibility: visible;
}
.header__bottom ul li.menu-item-has-children > ul li a {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	display: block;
	padding: 10px 0px;
	color: #0A2756;
}
.block_services__block {
	transition: all .3s ease-out;
}
.block_services__block:hover {
	background: #397be7;
	border-color: #397be7;
}
.block_services__block:hover .block_services__tit {
	color: #fff;
}
.block_question__txt {
	width: 100% !important;
	padding: 10px 60px 0px 0px !important;
}
.block_calc {
	margin-top: 60px;
	padding: 100px 80px;
	background: #FFFFFF;
	border: 1px solid #E3ECFC;
	border-radius: 5px;
}
.block_calc h2 {
	margin: 0;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 140%;
	color: #071A39;
	margin-bottom: 40px;
}
.calc_items {
	display: flex;
	margin-bottom: 50px;
	justify-content: space-between;
}
.calc_item {
	width: calc(50% - 30px);
}
.calc_label {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	color: #071A39;
	margin-bottom: 20px;
	display: block;
}
.calc_right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 220px;
	width: 100%;
	background: #F8FAFC;
	border: 1px solid #E3ECFC;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}
.calc_right input {
	border: 0;
	background: none;
	width: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #0A2756;
}
.calc_currency, .calc_right_absolute {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
	color: #0A2756;
	margin-left: 10px;
}
.ui-slider-horizontal {
	height: 4px;
	margin-bottom: 20px;
}
.ui-widget.ui-widget-content {
	background: #E3ECFC;
	border: 0;
	border-radius: 200px;
}
.ui-widget-header {
	background: #397BE7;
	border-radius: 200px;
}
.ui-slider-horizontal .ui-slider-handle {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	top: -10px;
	border: 0;
	margin-left: -12px;
	background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23397BE7'/%3E%3Ccircle cx='12' cy='12' r='5' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A") 50% no-repeat;
}
.calc_values {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.calc_value {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #0A2756;
}
.calc_bottom {
	display: flex;
	justify-content: space-between;
}
.calc_total, .calc_form {
	width: calc(50% - 30px);
	display: flex;
}
.calc_total {
	flex-wrap: wrap;
}
.calc_bottom__title {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	color: #071A39;
	margin-bottom: 20px;
}
.calc_total_col {
	width: calc(100% - 210px);
	padding-left: 20px;
	border-left: 1px solid #397BE7;
}
.calc_total_col:nth-child(3) {
	width: 190px;
	margin-left: 20px;
}
.calc_total_title  {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #0A2756;
	margin-bottom: 10px;
}
#total-final-pts {
	opacity: 0;
	visibility: hidden;
	font-size: 0;
	position: absolute;
	pointer-events: none;
}
.calc_total_text {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	color: #397BE7;
	margin-right: 10px;
}
.calc_total__txt {
	margin-top: 15px;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #0A2756;
	margin-bottom: 10px;
}
#month-pts, .js-days-percents-pts {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	color: #397BE7;
	margin-right: 10px;
}
.calc_form {
	flex-direction: column;
}
.calc_form form p {
	margin: 0;
    display: flex;
}
.calc_form form input[type="tel"], .calc_form form input[type="name"] {
	font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #0a2756;
    padding: 16px 26px;
    background: #fff;
    border: 1px solid #e3ecfc;
    border-radius: 5px;
    width: 100%;
}
.calc_form form input[type="submit"] {
	font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #fff;
    padding: 16px;
    background: #397be7;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    text-align: center;
    display: inline-block;
    max-width: 200px;
    width: 100%;
	margin-left: 20px;
}
.calc_form form input[type="submit"]:hover {
	background: linear-gradient(171.09deg,#1d68e4 -10.48%,#9747ff 77.8%);
}
.calc_form .wpcf7-form-control-wrap {
    width: calc(100% - 220px);
}
.wpcf7-spinner {
	display: none !important;
}
.wpcf7-form-control-wrap {
	position: relative;
}
.wpcf7-not-valid-tip {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
}
@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		height: max-content;
	}
}
.block_question__block {
	position: relative;
}
.block_question__blocks {
	overflow: hidden;
}
.block_question__txt {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -100%;
	top: 100%;
	transition: unset;
}
.block_question__block.isActive .block_question__txt {
	visibility: visible;
	animation: show 1s;
	opacity: 1;
	position: relative;
	top: 0;
	left: 0;
	transition: all 1s ease-out;
}
.wpcf7 form.sent .wpcf7-response-output {
	max-width: 377px;
	width: 100%;
	background: #83B62E;
	border-radius: 5px;
	padding: 16px 26px;
	margin: 0;
	border: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #FFFFFF;
}
.wpcf7 form.sent > p {
	display: none;
}
.block_time__link {
	cursor: pointer;
}
.modal {
	background: rgba(7, 26, 57, .9);
	overflow: auto;
	padding: 40px 20px;
}
.modal__in {
	max-width: 630px;
	background: #FFFFFF;
	border: 1px solid #E3ECFC;
	border-radius: 5px;
	padding: 60px 40px;
	position: relative;
}
.modal__title {
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 140%;
	color: #071A39;
	margin-bottom: 40px;
	text-align: left;
}
.modal__closer {
	background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='30' rx='5' fill='%23397BE7'/%3E%3Cpath d='M9.21784 20.7823C8.92753 20.4919 8.92753 20.0212 9.21784 19.7309L19.731 9.21774C20.0213 8.92742 20.492 8.92742 20.7823 9.21774C21.0726 9.50805 21.0726 9.97874 20.7823 10.2691L10.2692 20.7823C9.97884 21.0726 9.50816 21.0726 9.21784 20.7823Z' fill='white'/%3E%3Cpath d='M20.7822 20.7823C20.4918 21.0726 20.0212 21.0726 19.7308 20.7823L9.21773 10.2691C8.92742 9.97875 8.92742 9.50806 9.21773 9.21775C9.50805 8.92743 9.97873 8.92743 10.269 9.21775L20.7822 19.7309C21.0725 20.0213 21.0725 20.492 20.7822 20.7823Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.modal__title span {
	color: #1D68E4;
}
.modal form p {
	margin: 0;
	display: flex;
	flex-direction: column;
}
.modal form input[type="tel"], .modal form input[type="text"], .modal form input[type="name"] {
	font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #0a2756;
    padding: 16px 26px;
    background: #fff;
    border: 1px solid #e3ecfc;
    border-radius: 5px;
    width: 100%;
	margin-bottom: 30px;
}
.modal form input[type="submit"] {
	font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #fff;
    cursor: pointer;
    border: 0;
    background: #397be7;
    border-radius: 5px;
    padding: 16px;
    width: 100%;
}
.modal form input[type="submit"]:hover {
	background: linear-gradient(171.09deg,#1d68e4 -10.48%,#9747ff 77.8%);
}
.modal-body.isSent {
	display: none;
}
.modal__in .wpcf7-response-output {
	display: none !important;
}
.modal__in.isSent .modal-body.isSent {
	display: block;
}
.modal__in.isSent .modal__title {
	display: none;
}
.modal-body.isSent h2 {
	font-style: normal;
	text-align: left;
	font-weight: 600;
	font-size: 48px;
	line-height: 140%;
	color: #071A39;
	margin: 0;
	margin-bottom: 40px;
}
.modal-body.isSent h2 span {
	color: #1D68E4;
}
.modal-body.isSent p {
	margin: 0;
	text-align: left;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 140%;
	color: #071A39;
}
.calc_form .feedback__form {
	display: flex;
}
.block_main__sending {
	display: none;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #FFFFFF;
	padding: 16px 26px;
	background: #83B62E;
	border-radius: 5px;
	width: 100%;
	max-width: 377px;
}
.isSend input, .isSend .modal__title {
	display: none !important;
}
.isSend .isSent {
	display: block;
}
.isSend .block_main__sending {
	display: block;
}
.block_distance__info {
	align-items: center;
}
.block_distance__r-side {
	position: relative;
	
}
.block_distance__r-side:before {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	content: '';
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23ffffff' height='800px' width='800px' version='1.1' id='Capa_1' viewBox='0 0 60 60' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30 c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15 C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z'/%3E%3Cpath d='M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30 S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z'/%3E%3C/g%3E%3C/svg%3E") 50% / 100% no-repeat;
	margin-top: -25px;
}
.block_services__img {
	max-width: 205px;
}
.block_distance__item {
	flex-direction: column;
	align-items: flex-start;
	display: flex;
}
.block_first__r-side {
	pointer-events: none;
}
.block_first {
	min-height: 470px;
}
.title_calc {
	margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    color: #071a39;
    margin-bottom: 40px;
}
@media all and (max-width: 1240px) {
	.calc_bottom, .calc_items {
		flex-direction: column;
	}
	.calc_item {
		width: 100%;
	}
	.calc_total, .calc_form {
		width: 100%;
	}
	.calc_total {
		padding-bottom: 24px;
		margin-bottom: 24px;
		border-bottom: 1px solid #e3ecfc;
	}
}
@media all and (min-width: 1023px) {
	.block_question__tit {
		padding-right: 50px;
	}
}
@media all and (max-width: 1023px) {
	.title_calc {
		font-size: 32px;
    	margin-bottom: 30px;
	}
	.calc_form .feedback__form {
		flex-direction: column;
	}
	.calc_form .feedback__form input[type="submit"] {
		margin-top: 16px;
	}
	.modal-body.isSent h2 {
		font-size: 32px;
	}
	.modal__in {
		padding: 40px 20px;
	}
	.modal__title {
		font-size: 32px;
	}
	.calc_form form p {
		flex-direction: column;
	}
	.calc_form .wpcf7-form-control-wrap {
		width: 100%;
		margin-bottom: 16px;
	}
	.calc_form form input[type=submit] {
		margin-left: 0;
		max-width: 100%;
	}
	.block_steps__block {
		flex-direction: column;
		display: flex;
		align-items: flex-start;
	}
	.calc_label {
		margin-bottom: 16px;
		font-size: 20px;
	}
	.calc_right {
		padding: 18px 20px;
		max-width: 320px;
		width: 100%;
		margin-bottom: 26px;
	}
	.calc_value.mobs {
		display: none !important;
	}
	.calc_items {
		margin-bottom: 0;
	}
	.calc_item {
		padding-bottom: 24px;
		margin-bottom: 24px;
		border-bottom: 1px solid #e3ecfc;
	}
	.calc_values {
		margin-bottom: 0;
	}
	.block_calc {
		padding: 40px 20px;
	}
	.block_calc h2 {
		font-size: 32px;
		margin-bottom: 30px;
	}
	.block_question__txt {
		padding-right: 0 !important;
	}
	.header__burger--body nav ul > li > a {
		font-weight: 600;
	}
	.header__burger--body nav ul li.menu-item-has-children {
		position: relative;
		cursor: pointer;
	}
	.header__burger--body nav ul li.menu-item-has-children:before {
		content: '';
		position: absolute;
		width: 24px;
		height: 24px;
		top: 40px;
		right: 0;
		background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2Z' fill='%231D68E4'/%3E%3Cpath d='M12 14.9098C11.81 14.9098 11.62 14.8398 11.47 14.6898L7.94003 11.1598C7.65003 10.8698 7.65003 10.3898 7.94003 10.0998C8.23003 9.80982 8.71003 9.80982 9.00003 10.0998L12 13.0998L15 10.0998C15.29 9.80982 15.77 9.80982 16.06 10.0998C16.35 10.3898 16.35 10.8698 16.06 11.1598L12.53 14.6898C12.38 14.8398 12.19 14.9098 12 14.9098Z' fill='%231D68E4'/%3E%3C/svg%3E%0A") 50% no-repeat;
		margin-top: -12px;
	}
	.header__burger--body nav ul li.menu-item-has-children.isActive:before {
		transform: rotate(180deg);
	}
	.header__burger--body nav ul li.menu-item-has-children.isActive > a {
		color: #1D68E4;
	}
	.header__burger--body nav ul li.menu-item-has-children > ul {
		display: none;
	}
	.header__burger--body nav ul li.menu-item-has-children.isActive > ul {
		display: block;
	}
	.header__burger--body nav ul li.menu-item-has-children > ul li {
		border: 0 !important;
	}
	.header__burger--body nav ul li.menu-item-has-children > ul li a {
		padding: 0 !important;
		margin-bottom: 16px !important;
	}
	.times_block__button:before {
		width: 211px;
		height: 178px;
		top: 36px;
    	left: -127px;
	}
	.mobs_block {
		display: block;
	}
	.ps_block {
		display: none;
	}
.block_map__l-side .menu {
    height: calc(100% - 80px);
}
  .block_map__l-side {
  	padding: 20px; 
  flex: none;
  }
  .block_map__item {
  	flex-direction: column-reverse;
    height: auto;
  }
  .block_map__l-side {
  	width: 100%;
    height: 320px;
  }
  .block_map__r-side #map, .block_map__r-side {
  	height: 400px;
  }
	.block_main__form form p, .block_form__l-side form p, .block_first__form form p {
      flex-direction: column;
  	}
    .block_main__form form .wpcf7-form-control-wrap, .block_form__l-side form .wpcf7-form-control-wrap, .block_first__form form .wpcf7-form-control-wrap {
        margin-right: 0px;
    }
  .block_form__l-side form .wpcf7-form-control-wrap {
  	max-width: 100%;
  }
  .block_auto__block {
  	display: none; 
  }
  .block_auto__block:nth-child(-n+3) {
  	display: block;
  }
  .noContent {
  	pointer-events: none;
  }
  .block_map__l-side .submenu li {
  	padding: 30px 20px;
  }
}
/* @keyframes hideBlock {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  50% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
} */
/* .wpcf7 form.sent .wpcf7-response-output {
	position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    background: #fff;
    font-size: 13px;
  	animation: 5s linear 0s alternate hideBlock;
} */
/* .wpcf7-response-output {
	opacity: 0;
	visibility: hidden;
} */
@media all and (max-width: 768px) {
  .r-tabs .block_tabs__content.r-tabs-panel {
  	padding-top: 30px;
  }
  .block_tabs__block:last-child {
  	margin-bottom: 24px;
  }
}
@media all and (max-width: 680px) {
	.calc_total_col {
		width: 100%;	
	}
	.calc_total_col:nth-child(3) {
		margin-left: 0;
		margin-top: 16px;
	}
}
@media all and (max-width: 580px) {
  .block_map__r-side #map, .block_map__r-side {
  	height: 270px;
  }
	.block_h1_span {
		width: max-content;
		display: block;
		margin-left: 0;
		padding :5px 0;
		margin-top: 10px;
	}
}
@media all and (max-width: 520px) {
	.block_time__r-side {
		max-width: 180px;
	}
	.times_block {
		padding: 13px;
		border: 2.76857px solid #0A2756;
		border-radius: 8.57143px;
		background: url(bg1.png) 0% 100% / 44px no-repeat, url(bg2.png) 100% 100% / 96px no-repeat,linear-gradient(171.09deg,#1d68e4 -10.48%,#9747ff 77.8%),#1d68e4;
	}
	.times_block__logo {
		width: 39px;
		margin-bottom: 13px;
	}
	.times_block__text {
		font-size: 12.825px;
		margin-bottom: 13px;
		line-height: 110%;
		max-width: 114px;
	}
	.times_block__button {
		font-size: 7px;
		padding:7px 14px;
		border-radius: 1.95531px;
	}
	.times_block__button:before {
		width: 120px;
		height: 108px;
		bottom: -97px;
		left: -78px;
		top: unset;
	}
}
@media all and (max-width: 480px) {
	.block_steps .glide {
		margin-left: -16px;
	}
}















.block_stat {
	padding-top: 100px;
    padding-bottom: 100px;
	@media all and (max-width: 1023px) {
		padding-top: 60px;
    	padding-bottom: 60px;
	}
}
.block_stat__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	@media all and (max-width: 1023px) {
		margin-bottom: 30px;
		flex-direction: column;
		align-items: flex-start;
	}
}
.block_stat__title {
	font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    color: #071a39;
	@media all and (max-width: 1023px) {
		font-size: 32px;
	}
}
.block_stat__btn {
	font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #fff;
    padding: 16px 54px;
    background: #397be7;
    border-radius: 5px;
	text-align: center;
    margin-left: 20px;
    cursor: pointer;
    border: 0;
    display: inline-block;
	text-decoration: none;
	@media all and (max-width: 1023px) {
    	margin-left: 0px;
    	margin-top: 15px;
		width: 100%;
		display: none;
	}
}
.block_stat__btn.mob {
	display: none;
	@media all and (max-width: 1023px) {
		display: block;
	}
}
.block_stat__btn:hover {
	background: linear-gradient(171.09deg,#1d68e4 -10.48%,#9747ff 77.8%);
}
.block_stat__blocks {
	overflow: hidden;
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
	flex-wrap: wrap;
	@media all and (max-width: 580px) {
		margin-left: 0px;
		margin-right: 0px;
	}
}
.block_stat__block {
	margin-bottom: 20px;
	width: calc(33.3% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	@media all and (max-width: 840px) {
		width: calc(50% - 20px);
	}
	@media all and (max-width: 580px) {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
}
.block_stat__img {
	position: relative;
	padding-top: 60%;
	display: block;
	font-size: 0;
	margin-bottom: 20px;
	@media all and (max-width: 1023px) {
		margin-bottom: 15px;
	}
}
.block_stat__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.block_stat__tit {
	margin-bottom: 20px;
	text-decoration: none;
	display: block;
	width: 100%;
	font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #071a39;
	@media all and (max-width: 1023px) {
    	font-size: 20px;
		margin-bottom: 15px;
	}
}
.block_stat__link {
	display: inline-block;
	font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #397be7;
}





